outputDir = "${launchDir}/results/test"
params {
    config_profile_name = 'Test paired-end and single-end mixed'
    config_profile_description = 'Minimal test dataset to check paired & single end handling'

    outputDir = outputDir
    input = "${projectDir}/assets/samplesheet_test.csv" // adapted from 'https://raw.githubusercontent.com/nf-core/test-datasets/chipseq/samplesheet/v2.0/samplesheet_test.csv'
    contrasts = "${projectDir}/assets/contrasts_test.tsv"

    genome = 'sacCer3'
    read_length = 50

    // Genome references
    genome_fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/atacseq/reference/genome.fa'
    genes_gtf   = 'https://raw.githubusercontent.com/nf-core/test-datasets/atacseq/reference/genes.gtf'
     blacklist = '/data/CCBR_Pipeliner/db/PipeDB/Indices/hg38_basic/indexes/hg38.blacklist_v3.chrM.chr_rDNA.fa'
    rename_contigs = "${projectDir}/assets/R64-1-1_ensembl2UCSC.txt"
    meme_motifs = null
    bioc_txdb = 'TxDb.Scerevisiae.UCSC.sacCer3.sgdGene'
    bioc_annot = 'org.Sc.sgd.db'

    deeptools_bin_size = 10000 // this value is only to make bamCoverage run faster. use smaller value for real data.
    deeptools_excluded_chroms = 'chrM'

    run_qc = true
    run_deeptools = true
    run_normalize_input = true
    run_call_peaks = true
    run_gem = true
    run_sicer = false
    run_macs_broad = true
    run_macs_narrow = true
    run_chipseeker = true
    run_homer = true

    sicer_species = "sacCer1"
}
